/*forma*/
.form {
	width: 500px;
	padding: 20px;
	margin: auto;

	background-color: #fff;
}
.form-group {
	margin-bottom: 15px;
}
.form-input {
	display: block;
	padding: 5px;
	border: 1px solid#000;
	font-family: Arial sans-serif;
	font-size: 15px;
}
.form-textarea {
	width: 250px;
	height: 100px;
	padding: 5px;
	border: 1px solid#000;
	font-family: Arial sans-serif;
	font-size: 15px;
	display: block;
}
